body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
}

main, footer {
    position: relative;
    top: 70px;
}


body, #buttons a {
    color: seashell;
}

body, header, .text, #locations-blocks div {
    background-color: black;
}

main, footer {
    text-align: center;
}

header, #banner, #tea-images, #locations-text, #locations-blocks {
    display: flex;
}

header, #banner, #locations, #buttons, .text {
    width: 100%;
}

#banner, #locations {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#banner, #locations-text {
    justify-content: center;
}

#banner, #locations-text, #locations-blocks {
    align-items: center;
}

header {
    position: fixed;
    align-items: center;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
}

header div {
    display: inline-block;
}

#buttons {
    text-align: right;
}

#logo-img {
    margin: 10px;
    height: 50px;
}

#buttons a {
    margin: 20px;
}

#banner {
    margin: 0 auto;
    height: 700px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*k0ozbo*_ga*MjQ3MjQxMjU1Ni4xNjYyMDQ3NDIx*_ga_3LRZM6TM9L*MTY2NjIzMjQyNC41Mi4xLjE2NjYyMzI0NDUuMzkuMC4w");
}

#tea {
    width: 90%;
    margin: 50px auto;
}

#tea-images {
    flex-wrap: wrap;
    justify-content: space-around;
}

#tea-images img {
    margin: 20px;
    height: 200px;
    width: 300px;
}

#locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1ju037s*_ga*MTcxNzM4MzQ2MS4xNjY1MTY0MTcw*_ga_3LRZM6TM9L*MTY2NjI4NzUzNC41Ny4xLjE2NjYyODc1NTEuNDMuMC4w");
    height: 500px;
}

#locations-blocks {
    justify-content: space-around;
}

#locations-blocks div {
    opacity: 1;
    width: 300px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
}

#tea-info {
    height: 200px;
}

#copyright {
    text-align: left;
    margin: 0 0 90px 20px;
}

